@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Outfit:wght@400;500;600;700;800;900&family=JetBrains+Mono&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  
  --color-brand-bg: #050505;
  --color-brand-text: #F5F5F5;
  --color-brand-accent: #F27D26;
  --color-amazon-ink: #1a1a1a;
  --color-amazon-light: #0d0d0d;
}

body {
  @apply font-sans bg-brand-bg text-brand-text antialiased;
}

.text-outline {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
}
